.product-details-container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  justify-self: center;
}

.back {
  margin-top: 45px;
  width: fit-content;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    border-color: gray;
  }
}

.product-details-content {
  height: auto;
  display: flex;
  justify-self: center;
  margin: 45px 0;
  padding: 30px 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  max-width: 1000px;
  min-width: 750px;
  border-radius: 45px;
  gap: 4%;

  .product-text {
    width: 100%;
    min-height: 350px;
    max-width: 525px;
    text-align: left;
    text-wrap: pretty;

    h1 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 30px;
    }

    .price {
      display: block;
      margin: 20px 0;
      font-size: 30px;
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 90%;
    max-width: 350px;
  }
}

@media (max-width: 900px) {
  .product-details-container {
    a {
      margin-top: 20px;
    }
  }

  .product-details-content {
    margin-top: 20px;
    flex-direction: column;
    min-width: 200px;
    gap: 20px;

    .image-container {
      width: 80%;
    }

    .product-text {
      min-height: fit-content;
    }
  }
}

@media (max-width: 600px) {
  .product-details-content {
    flex-direction: column;
    min-width: 200px;
    gap: 20px;
    padding: 30px 35px;

    .image-container {
      width: 90%;
    }

    .product-text {
      min-height: fit-content;

      h1 {
        font-size: 20px;
        margin-bottom: 4px;
      }

      .price {
        margin: 6px 0;
      }

      p {
        font-size: 14px;
        margin: 0;
        text-wrap: pretty;
      }
    }
  }
}
